@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "@/g-shared/ui/ui.scss";

// настройка глобальных параметров
body, .app {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.body {
  display: flex;
}

.main {
  padding: 10px;
  width: 100%;
}
