@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "shared/ui/ui.scss";

.app,
.app__modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}
