.block-with-shadow {
  background: var(--sidebar-bg-color);
  color: var(--inverted-bg-color);
  box-shadow: var(--block-shadow-other);
  border-radius: var(--accordion-border-radius);
  padding: 12px;
}