.app.dark {
  --bg-color: var(--color-background-gradient-dark);
  --inverted-bg-color: var(--color-background-light);
  --sidebar-bg-color: var(--color-background-second-dark);

  --primary-color: #04ff04;
  --secondary-color: #049604;

  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}
