.sidebar {
  background: var(--sidebar-bg-color);
  // up css
  height: var(--inverted-header-height);
  width: var(--sidebar-width);
  position: relative;
  transition: width 0.4s;

  padding: 20px 0;
}

.sidebar--collapsed {
  width: var(--sidebar-width-collapsed);

  .sidebar-item__link {
    opacity: 0;
    transition: 0.3s opacity;
  }
}

.sidebar--light {
  box-shadow: var(--color-background-shadow-light);
}

.sidebar--dark {
}