.sidebar {
  background: var(--inverted-bg-color);
  // up css
  height: var(--inverted-header-height);
  width: var(--sidebar-width);
  border-top: 1px solid var(--bg-color);
  position: relative;
  transition: width 0.4s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}